<div class="flex flex-col md:flex-row h-screen">
  <!-- Sidebar (Contacts) -->
  <div
    class="w-full md:w-1/4 bg-gray-100 p-2 md:p-4 border-b md:border-b-0 md:border-r flex flex-col relative"
    *ngIf="isContactsPage() || (screenWidth >= 768)"
  >
    <div class="flex-1 overflow-y-auto">
      <app-contacts></app-contacts>
    </div>
    <!-- Bouton flottant -->
    <button
      (click)="goToChat()"
      class="absolute bottom-6 right-6 bg-gradient-to-r from-indigo-500 to-purple-600 w-12 h-12 rounded-full text-white shadow-2xl flex items-center justify-center hover:scale-110 transition-transform z-50"
    >
      <i class="fas fa-plus text-xl"></i>
    </button>
  </div>

  <!-- Main content -->
  <div class="flex-1 p-2 md:p-4 overflow-y-auto"
       *ngIf="!isContactsPage() || (screenWidth >= 768)">
    <router-outlet></router-outlet>
  </div>
</div>